<nav class="navbar navbar-expand-xl navbar-dark" style="background-color: #0C0D08;">
  <a class="navbar-brand" href="/">{{title}}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/create">Create an Anime</a>
      </li>
	  <li class="nav-item">
        <a class="nav-link" href="/update">Update an Anime</a>
      </li>
	  <li class="nav-item">
        <a class="nav-link" href="display">Display all Anime</a>
      </li>
  
    </ul>
  </div>
</nav>

<h1>LIST OF ANIME:</h1>
<table>
		<tr>
			<th>Anime ID</th>
			<th>Anime Name</th>
			<th>Release Year</th>
			<th>Genre</th>
			<th>Rating</th>
		</tr>
	{{#each createdAnime}}
		<tr>
			<td>{{this.animeID}}</td>
			<td>{{this.animeName}}</td>
			<td>{{this.releaseYear}}</td>
			<td>{{this.genre}}</td>
			<td>{{this.rating}}</td>
		</tr>
	{{/each}}
</table>