<!DOCTYPE html>
<html>
    <head>
        <title>Anime Updater</title>
       <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />


<nav class="navbar navbar-expand-xl navbar-dark" style="background-color: #0C0D08;">
  <a class="navbar-brand" href="/">Anime Database</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/create">Create an Anime</a>
      </li>
	  <li class="nav-item">
        <a class="nav-link" href="/update">Update an Anime</a>
      </li>
	  <li class="nav-item">
        <a class="nav-link" href="/display">Display all Anime</a>
      </li>
  
    </ul>
  </div>
</nav>
<style>
     .button-container {
                display:inline-flex;
                gap:10px;
            }
     table {
  width: 95%;
}

    th {
  height: 70px;
}
</style>


<body>

            <!-- Display Anime Items -->
            <h2>ANIME LIST</h2>
                        <table style="margin:auto;">
                    <tr>
                        <th>ANIME ID</th>
                       <th>TITLE</th>
                        <th>RELEASE YEAR</th>
                          <th>GENRE</th>
                          <th>RATING</th>
                          <th>DESCRIPTION</th>
                          <th>MODIFY</th>
                    </tr>
                {{#each rows}}
                    <tr>
                        <td>{{this.animeID}}</td>
                        <td>{{this.anime_name}}</td>
                        <td>{{this.release_year}}</td>
                        <td>{{this.genre}}</td>
                        <td>{{this.rating}}</td>
                        <td>{{this.description}}</td>
                        <td>
                            <div class="button-container">
                            <form action="/update" method="POST">
                                <button name="updaterecord" id="updatenow" type="submit" class="btn btn-success" value="{{this.animeID}}">UPDATE</button>
                            </form>
                            <form action="/delete" method="POST">
                                <button name="deleterecord" id="deletenow" type="submit" class="btn btn-danger" value="{{this.animeID}}">DELETE</button>
                            </form>
                            </div>
                        </td>
                        
                    </tr>
                {{/each}}
            </table>
        </div>
    </body>

</html>