<nav class="navbar navbar-expand-xl navbar-dark" style="background-color: #0C0D08;">
  <a class="navbar-brand" href="/">{{title}}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/create">Create an Anime</a>
      </li>
	  <li class="nav-item">
        <a class="nav-link" href="/update">Update an Anime</a>
      </li>
	  <li class="nav-item">
        <a class="nav-link" href="display">Display all Anime</a>
      </li>
  
    </ul>
  </div>
</nav>

<div>
<h1>LIST OF ANIME:</h1>
<table>
	
		<tr>
			<td>Anime ID: {{this.animeID}}</td>
			<td>Anime Name: {{this.animeName}}</td>
			<td>Release Year: {{this.releaseYear}}</td>
			<td>Genre: {{this.genre}}</td>
			<td>Rating: {{this.rating}}</td>
		</tr>
</table>
</div>

<a href="/animes"><button type="button" class="btn btn-success"> View All Anime</button></a>


<form action="/delete" method="POST">
<button name="deleterecord" id="deletenow" type="submit" class="btn btn-danger" value="{{this.animeID}}">DELETE</button>

<form action="/update" method="POST">
<button name="updaterecord" id="updatenow" type="submit" class="btn btn-warning" value="{{this.animeID}}">UPDATE</button>